
/* header */
.mainheader {
    width: 100%;
    height: auto;
    background-color: cornflowerblue;
    margin: 0 0;
}
.topnav {
    background-color: lightcoral;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}

a { 
    color: inherit;
    text-decoration: none;

} 

.mainheader > .topnav > .wrapper > .top {
    display: inline-block;
    padding: 12px ;
} 
.mainheader > .topnav > .wrapper > .top--first {
    display: inline-block;
    padding-left: 0 ;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
} 
.mainheader > .topnav > .wrapper > .top:hover {
    color: #ffffff;
    font-weight: 900;
} 
.mainheader > .topnav > .wrapper > .top--first:hover {
    color: #ffffff;
    font-weight: 900;

} 
/* header */

    /* main */


    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        height: 100%;
        position: relative;
        background-color: cornflowerblue;
    }

    main {
        min-height: 100vh;
        display: block;
        position: relative;
        padding-bottom: 400px;
        background-color: #fff268;
        padding-top: 32px;
    }
            .Banner {
                margin: 0 auto;
                max-height: 400px;
                min-width: 30%;
                max-width: 100%;
                width: auto;
                clear: both;
                display: block;

            }

            .mainArticle {
                max-width: 60%;
                background-color:#ffff99;
                padding: 2%;
                float: left;
                border-radius: 20px;
                
            }

/* Side Navigation */
            .sidenav {
                background-color: lightcoral;
                width: 25%;
                margin-left: 1%;
                padding: 2%;
                float: left;
                border-radius: 20px;
            
            }
                .sidenav > ul > li {
                    padding: 10px 0;
                    margin-left: 5%;
                    
                }
                .sidenav > ul > li:hover {
                        color: #ffffff;
                        font-weight: 900;
                        
                    }
                    .sidenav > ul > li > ul > li {
                        
                        margin-left: 5%;
                        
                    }
                    .sidenav > ul > li > ul > li:hover {
                        
                        color: #ffffff;
                        font-weight: 900;
                        
                    }
                    .sidenav > ul > li > ul > li > ul > li{
                        
                        margin-left: 5%;
                        
                    }
                    .sidenav > ul > li > ul > li > ul > li:hover{
                        
                        color: #ffffff;
                        font-weight: 900;
                        
                    }
/* ///Side Navigation */   

/* 2nd row */

        section {
            clear: both;
            margin-top: 20px;
            padding-top: 20px;
        }
        
        .centeredP {
            background-color:#ffff99;
            width: 58%;
            height: auto;
            float: left;
            padding: 2%;
            border-radius: 20px;


        }
    
        .imageside {
            width: 10%;
            float: left;
            margin: 3%;
        }

/* //2nd row */

/* Carte Pokemon */
.CartePokemon {
    
    
    background-color: #ffff99;
    padding: 2%;
    border-radius: 20px;
    height: 400px;
    position: relative;
    width: 100%;
    clear: both;
    margin-bottom: 32px;
}

.imagePokemon {
    height: auto;
    width: 30%;
    float: left;
    margin: 20px 5% 0 0;
    top: 50%;
    
}
.FullStats {
    width: 65%;
    float: left;
}
.Stats {
    clear: both;
}

.NomEtElement {
    display: inline;
}
.NomEtElement h1 {
    float: left;
}


.NomEtElement h1 span  {
    float: right;
    clear: right;
    padding-left: 10px;
    padding-top: 18px;
    
}

/* footer */
Footer {
    background-color: cornflowerblue;
    height: 200px;
    position: float;
    bottom: 0;
    width: 100%;
    clear: both;
    
}

.legalnotice {
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;

}

/* footer */

    

/* Utils*/
 .wrapper {
    max-width: 1400px;
    height: auto;
    margin: 0 10%;
    position: relative;
}
/* Utils*/

aside {
    float: left;
}

/* Style guide */
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    h6 {
        font-size: 14px;
        font-weight: normal;
        margin-block-end: 0;
        margin-block-start: 5px;

    }
    span {
        display: inline;
        font-size: 16px;
    }
    
        .HeroText {
            font-size: 64px;
            color: white;
            padding-top: 40px;
            margin: 0;
            font-weight: 900;
            
        }
        
        .SubHeroText {
            font-size: 36px;
            color: blue;
            margin: 0;
            padding: 10px 0;
            }

/* Style guide */